@import "./variables";

.footer-container {
    display: flex;
    justify-content: space-around;

    .offer-list {
        list-style-image: url($list-bullet-images);
        color: $text-color;
        text-align: left;
    }

    .cta-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
