@import "./variables";

.pricing-component {
    background-color: $pricing-component-bg-color;
    text-align: center;

    width: 500px;

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 23px;
        height: 24px;
        border: 0;
        background-image: url("../images/icon-slider.svg");
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 23px;
        height: 25px;
        border: 0;
        background: url("../images/icon-slider.svg");
        cursor: pointer;
    }
}
